.member-card{
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    color: rgb(90, 83, 83);
    text-align: center;
    border-radius: 10px;
    padding-top: 1rem; 
}
.member-card img{
    width: 50%;
    border-radius: 50%;
}